/* =Post
===================================================== */

// Post
//
// Post entry
//
// Markup: post.html
//
// Style guide: 6.post

.post {

  @include clearfix();

  margin-bottom: $unit-default;
  padding-bottom: $unit-default;
  border-bottom: 6px double $color-border-weak;

}

.entry-header {}

.entry-content {

  @include clearfix();

}

.entry-title {

  border-bottom: 3px solid #2c2c2c;
  box-shadow: 20px 38px 34px -26px rgba(0,0,0,.2);
  border-radius: 0 0 225px 0/0 0 70px 225px;

  font-size: ms(2);
  line-height: 2;
  text-transform: uppercase;

  margin-bottom: $unit-m;

  a {

    &:hover,
    &:focus,
    &:active {

      color: $color-brand-secondary;
      text-decoration: none;

    }

  }

}

.entry-meta {

  margin-top: $unit-m;
  margin-bottom: $unit-m;

  a {

    color: $color-link-alt;

    &:hover,
    &:focus,
    &:active {

      color: $color-link-alt-hover;

    }

  }

  .updated {

    display: none;

  }

  .published {

    display: inline;

  }

}

.entry-footer {

  margin-bottom: $unit-default;

  @include font-size(16);
  line-height: em(24,16);
  color: $color-text-weak;

  > :after {

    content: " | ";

  }

  > :last-child {

    &:after {

      content: "";

    }

  }

  a {

    color: $color-link-alt;

    &:hover,
    &:focus,
    &:active {

      color: $color-link-alt-hover;

    }

  }

}