/* =Header
===================================================== */

// Header
//
// Header of the site (includes site branding and navigation)
//
// Markup: header.html
//
// Style guide: 6.header

.site-header {

  background-color: $color-brand-tertiary;
  border-bottom: 3px solid $color-brand-quaternary;
  box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  position: relative;
  padding-top: 10vh;

  .home & {
    height: auto;
    padding-top: 10vh;

    @include breakpoint(large) {

      padding-top: 20vh;    
    
    }

  }

  @include transition-fast();

  &:before {

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 201;
    width: ($cloud-width * 0.35);
    height: ($cloud-height * 0.35); 

    background-repeat: no-repeat;
    background-image: $cloud-path;

    @include breakpoint(small) {

      width: ($cloud-width * 0.5);
      height: ($cloud-height * 0.5);

    }

    @include breakpoint(large) {

      width: ($cloud-width * $cloud-proportion);
      height: ($cloud-height * $cloud-proportion); 

    }


    content: "";

    -webkit-animation: animateCloud 50s linear infinite;
    -moz-animation: animateCloud 50s linear infinite;
    animation: animateCloud 50s linear infinite;

    -webkit-transform: scale($cloud-proportion);
    -moz-transform: scale($cloud-proportion);
    transform: scale($cloud-proportion);
  }

  > * {

    position: relative;
    z-index: $z-index-header;

  }

  @keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-15px);
    }
  }
  @-webkit-keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-15px);
    }
  }

  @-webkit-keyframes animateCloud {
    0% {
        margin-left: -1500px;
    }
    100% {
        margin-left: 100%;
    }
  }

  @-moz-keyframes animateCloud {
    0% {
        margin-left: -1500px;
    }
    100% {
        margin-left: 100%;
    }
  }

  @keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
  }
}
