/* =Speakers
===================================================== */

// Speakers
//
// Speakers list
//
// Markup: speakers.html
//
// Style guide: 6.speakers

.wcorg-speakers {


}

.wcorg-speaker {

    display: flex;
    margin-bottom: $unit-xl;
    padding-bottom: $unit-l;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    border: rem(2) solid $color-brand-quaternary;
    box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;

    h2 {

      width: 100%;
      margin-bottom: $unit-default;
      border-bottom: rem(2) solid $color-brand-quaternary;
      background-color: $color-brand-primary;
      border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
      line-height: ms(2);
      text-align: center;
      position: relative;
      padding: $unit-xs;
      z-index: 100;

    }

  .wcorg-speaker-description {

    @include clearfix();

    padding: $unit-l;
    text-align: left;

    img {
      width: auto;
      max-height: 200px;
    }

  }


  .avatar {

    float: left;
    margin: $unit-xs $unit-s $unit-xs 0;

  }

  p {

    margin-bottom: $unit-xs;

    font-size: ms(0, 16px);

    &:last-child {

      margin-bottom: 0;

    }

  }

  h3 {

    text-transform: none;

  }

  ul {}
  li {}

}

/*
 * Speaker page
 */

.single-wcb_speaker {

  .entry-content {

    font-size: ms(0, 18px);

    .speaker-avatar {
      display: none;
    }

    img {
      max-height: 200px;
      width: auto;
    }

  }

}

#session-speaker-names,
#speaker-session-names {

  @include list-reset();

  margin-bottom: $unit-default;

  li {

    padding-left: rem(32);

    background-image: $image-bullet-dark;
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: $unit-xs $unit-xs;

    font-size: ms(0);
    line-height: ms(2);

  }

}
