/* =Header
===================================================== */

// Header
//
// Header of the site (includes site branding and navigation)
//
// Markup: header.html
//
// Style guide: 6.header

.site-header {

  background-color: $color-brand-tertiary;
  height: 100vh;

  padding-top: 20vh;
  position: relative;

  @include transition-fast();

  &:before {

    position: absolute;
    top: 20vh;
    left: 0;
    bottom: 0;
    right: 0;

    background-repeat: no-repeat;
    background-position: 50% 5%;
    background-size: fixed;
    background-image: $cloud-path;

    content: "";

    animation: bounce 1s infinite alternate;
    -webkit-animation: bounce 1s infinite alternate;
  }

  > * {

    position: relative;
    z-index: $z-index-header;

  }

  @keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-15px);
    }
  }
  @-webkit-keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-15px);
    }
  }

}
