/* =Sessions
===================================================== */

// Sessions
//
// Sessions list
//
// Markup: sessions.html
//
// Style guide: 6.sessions

.wcorg-sessions {


}

.wcorg-session {

    display: flex;
    margin-bottom: $unit-xl;
    padding-bottom: $unit-l;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    border: rem(2) solid $color-brand-quaternary;
    box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;

    h2 {

      width: 100%;
      margin-bottom: $unit-default;
      border-bottom: rem(2) solid $color-brand-quaternary;
      background-color: $color-brand-primary;
      border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
      line-height: ms(2);
      text-align: center;
      position: relative;
      z-index: 100;

    }

  .wcorg-session-description {

    @include clearfix();
    padding: $unit-xl;

  }

  .wcpt-session-meta {


  }

  .avatar {

    float: left;
    margin: $unit-xs $unit-s $unit-xs 0;

  }

  p {

    margin-bottom: $unit-xs;

    &:last-child {

      margin-bottom: 0;

    }

  }

  h3 {

    text-transform: none;

  }

  ul {}
  li {}

}
