/* =Forms
===================================================== */

// Forms
//
// Global styles
//
// Style guide: 4.forms

/*
 * Fieldset
 */

fieldset {

  border: none;
  margin: 0;
  padding: 0;

}

/*
 * Inputs
 */


// Input
//
// Input styles
//
// :hover - Hover state
// :focus - Focus state
//
// Markup:
// <input class="{{modifier_class}}" type="text" placeholder="Example text">
//
// Style guide: 4.forms.input

#{$all-text-inputs} {

  /* Positioning */

  /* Box-model */
  display: block;
  width: 100%;
  padding: rem(7) rem(16);
  margin: 0;
  border: 1px solid $color-input-regular;

  /* Typography */
  font-family: $font-brand-primary;
  font-size: ms(0);
  line-height: ms(2);
  color: $color-text-paragraph;

  /* Visual */
  background-color: #fff;
  border: solid 2px $color-brand-quaternary;
  outline: none;
  box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;

  /* Misc */
  transition: all .1s ease;
  @include appearance(none);

}


#{$all-text-inputs-hover} {

  color: $color-text-strong;

}

#{$all-text-inputs-focus} {

  outline: none;
  color: $color-text-strong;
  border: solid 2px $color-brand-secondary;
  box-shadow: 0 0 0 .125em $color-input-focus;
  box-shadow: 2px 8px 4px -6px hsla(0,0%,0%,.3);

}

#{$all-text-inputs-active} {

}

/*
 * Textarea
 */

// Textarea
//
// Textarea styles
//
// :hover - Hover state
// :focus - Focus state
//
// Markup:
// <textarea class="{{modifier_class}}" placeholder="Example text"></textarea>
// <br>
// <textarea class="{{modifier_class}}" placeholder="Example text">Hello world.</textarea>
//
// Style guide: 4.forms.textarea

textarea {

  resize: vertical;
  min-height: rem(100);
  display: block;

  @include breakpoint(medium) {

    min-height: rem(150);

  }

}


.contact-form div input[type=email], 
.contact-form div input[type=text], 
.contact-form div input[type=url] {

  width: 80%;

}

/*
 * Select
 */

// Select
//
// Select styles
//
// Markup:
// <select>
//   <option>Option 1</option>
//   <option>Option 2</option>
//   <option>Option 3</option>
// </select>
//
// Style guide: 4.forms.select

select {

  /* Box-model */
  display: block;
  height: rem(60);
  width: 80%;
  padding: rem(7) rem(16);

  /* Typography */
  font-family: $font-brand-primary;
  font-size: ms(0);
  line-height: ms(2);
  color: $color-text-paragraph;
  font-weight: $bold;

  /* Visual */
  background-color: #fff;
  border: solid 2px $color-brand-quaternary;
  outline: none;
  box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;

  /* Misc */
  cursor: pointer;

  // @include appearance(none);

  // background-image: url("../../images/dropdown-arrow.svg");
  // background-repeat: no-repeat;
  // background-size: rem(40) rem(40);
  // background-position: right center;

  option {

    /* Visual */
    background-color: #fff;
    border: solid 2px $color-brand-quaternary;
    outline: none;
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;

  }

}
