/* =Horizontal rule
===================================================== */

// Horizontal rule
//
// Horizontal rule example
//
// Markup:
// <hr>
//
// Style guide: 4.hr

hr {

  margin: $unit-l 0;
  padding: 0;
  border: 0;
  border: solid 2px $color-brand-quaternary;
  box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;

}